loan-data-apr-2018-snap
Q1_2018.csv
Q1_2019.csv
Q2_2018.csv
Q2_2019.csv
Q3_2018.csv
Q3_2019.csv
Q4_2018.csv
Q4_2019.csv
next stages of proj.pdf
peer lending project - introduction - V6 (1).pdf
tutorial4.R
loan-data-jul-2019-snap
